site: Justin Kim
title: Justin Kim
description: placeholder description
googlewebfonts: Fira+Code:wght@400;500;700
lang: en-US
timezone: Rome
repo: https://github.com/ijjustinKim # site repo [optional]
data-theme: dark # default theme "dark" | "light"

author:
  name: Justin Kim
  bio: placeholder bio
  username: ijjustinKim # general username
  github: ijjustinKim # github username
  twitter:  # twitter username
  email: ijjustin.kim@gmail.com # email adress

# URL settings
url: "https://powex.ml" #
baseurl: "/" # leave blank if not wishd
permalink: "https://powex.ml/Gesko/"
permalink: pretty 


markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge


exclude:
  - .jekyll-cache
  - .obsidian
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md
  - CONTRIBUTING.md
  
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]

sass:
  sass_dir: _sass
  style: compressed

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-relative-links

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:year/:month/:day/:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

relative_links:
  enabled:     true
  collections: false


